.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1em;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin: 0 0 1em 0;
}

.App-main {
  text-align: center;
}

.App-link {
  height: 40vmin;
  pointer-events: none;
}
